.about-us {
    margin-top: 30px;
    text-align: center;
}

.about-us h2 {
    color: #a24f5e;
    font-size: 2em;
    margin-bottom: 20px;
}

.about-us p {
    color: #e44d26;
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 15px;
}

.about-us h3 {
    color: #e44d26;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.about-us ul {
    list-style-type: none;
    margin-bottom: 15px;
}

.about-us li {
    color: #e44d26;
    font-size: 1.2em;
    line-height: 1.6;
}