body {
    font-family: sans-serif;
}
.container {
    background-color: #0c2431;
    background-size: cover;
    width: 100%;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
}
nav a {
    background-color: #0c2431;
    color: aqua;    
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
}
nav a:hover {
    color:#e44d26;
}

/* Add styles for the welcome message */
h2 {
    color: #e44d26;
    font-size: 2em;
    margin-bottom: 20px;
}

p {
    color: #e44d26;
    font-size: 1.2em;
    line-height: 1.6;
}


header {
    background-color: #d37556;
    padding: 10px;
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 200px; /* Adjust the size as needed */
    height: 100px;
    margin-right: 10px; /* Add some space between the logo and heading */
}